langchain
langgraph
ipykernel
langsmith
langchain_community
pypdf
bs4
arxiv
langchain_text_splitters
huggingface_hub
transformers
evaluate
datasets
langchain-community
sentence_transformers
langchain_huggingface
chromadb
fastapi
uvicorn
langchain_groq